<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<div th:replace="header.html"></div>

<div class="co-sm-12" style="margin: 20px">

    <div th:each="book: ${books}" class="row" style="padding-top: 30px">
        <div class="col-sm-1"></div>
        <div class="col-sm-2.5">
            <img th:src="@{'~/images/' + ${book.image}}" width="300px">
        </div>
        <div class="col-sm-7">
            <b>Title: </b><span th:text="${book.title}"/></br>
            <b>Author(s): </b><span th:text="${book.authors}"/></br>
            <b>Description: </b><span th:text="${book.description}"/></br></br>
            <a th:href="@{${book.path}}" class="btn btn-success">Download</a>
        </div>
    </div>

    <nav aria-label="Page navigation example" style="padding-top: 20px">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${books.number == 0} ? disabled : ''">
                <a class="page-link" th:href="@{'/index/' + ${menuId} + '?page=' + ${books.number - 1}}" tabindex="-1">Previous</a>
            </li>
            <li th:each="page: ${#numbers.sequence(1, books.totalPages)}" class="page-item"
                th:classappend="${books.number == page - 1} ? disabled : ''">
                <a class="page-link" th:href="@{'/index/' + ${menuId} + '?page=' + ${page - 1}}"><span
                        th:text="${page}"/></a>
            </li>
            <li class="page-item" th:classappend="${books.number == books.totalPages - 1} ? disabled : ''">
                <a class="page-link" th:href="@{'/index/' + ${menuId} + '?page=' + ${books.number + 1}}">Next</a>
            </li>
        </ul>
    </nav>

</div>

<div th:replace="footer.html"></div>